<table>
<tr>
<td width="20%">
</td>
<td width="20%">

<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>
</td>
<td width="40%">
<h3>Hexife</h3>
<div class=divider></div>
<p>* Taekjin Lee </p>
<p>* Computer Security Researcher</p>
</td>
<td width="20%">
</td>
</tr>
</table>
