<table>
<tr>
<td width="20%">
</td>
<td width="20%">

<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>
</td>
<td width="40%">
<h1>Hexife</h1>
<br>
<h3>Taekjin Lee</h3>
<h3>Computer Security Researcher</h3>
</td>
<td width="20%">
</td>
</tr>
</table>
